* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #264653;
}

#container {
    background: #2a9d8f;
    width:70%;
    margin: auto;
    border:3px solid black;
    border-radius: 3px;
}

#band-forms {
    /*display:flex;*/
    border: 3px solid black;
    background: #2a9d8f;
    width: 60%;
    padding:5px 5px;
    margin: auto;
    justify-content: space-between;
}

.band-form {
    background: #F4A261;
    margin: auto 10px;
    padding:10px;
    border-radius:3px;
    flex-basis:45%;
    border: 3px solid white;
}

.band-form label {
    display: block;
}

.band-form input, .band-form textarea {
    width:300px;
}

.title-container {
    background: #E76F51;
    width:70%;
    padding: 5px;
    border:3px solid black;
    border-radius:3px;
    margin:5px auto;
}

#btn-show-band-forms {
    margin: auto 3px 3px;
    width:99%;
}

.band {
    background: #E9C46A;
    padding:10px;
    margin: auto;
    border-radius:3px;
    flex-basis:50%;
    border:3px solid white;
}

#band-container {
    display: flex;
    justify-content: space-between;
    border:5px;
    padding:5px;
    margin: auto;
    width: 45%;
}

#input-container {
    margin: auto;
    width: 40%;
}

.error {
    background: lightcoral;
    color: darkRed;
}

.success {
    background: lightgreen;
    color: darkGreen;
}

.hidden {
    display: none;
    visibility: hidden;
}

h1, h2, h3 {
    text-align: center;
}

h3 {
    font-size: 24px;
}

.band-heading1, .band-heading2 {
    display: flex;
    justify-content: space-between;
}

/*@media (min-width: 900px) {
    #band-forms {
        display: flex;
    }
}
*/